body {
	background-color: #fdf6e3;
	font-family: "Open Sans", Roboto, sans-serif;
	font-size: 16px;
	color: #5c6a72;
}

main {
	padding: 0px 0px 0px 5px;
}

h1, h2, h3, h4, h5, h6 {
	color: #5c6a72;
}

h1 {
	font-size: 1.6rem;
}

h2 {
	font-size: 1.4rem;
}

p {
	font-size: 1rem;
	line-height: 1.3;
}

a {
	color: #8da101;
	text-decoration: none;
}

a:hover {
	color: #35a77c;
}

/* Footer section */
footer {
	background-color: #5c6a72;
	text-align: center;
}

footer p, footer h6, footer h5 {
	margin: 0px;
	color: #fdf6e3;
}

footer p {
	font-size: 0.8rem;
	padding-bottom: 2px;
}

#copyright-notice {
	padding: 8px 0px;
}
/* End Footer section */

.banner {
	display: grid;
	align-items: center;
	justify-items: center;
	height: 200px;
	background-color: #5c6a72;
	font-weight: 600;
	text-align: center;
}

.banner #banner-title {
	color: #fdf6e3;
	font-size: 3rem;
}

.banner #banner-subtitle {
	font-size: 1rem;
	color: #f0f1d2;
}

/* Regular phone sizes */
@media screen and (min-width: 340px) {
	main {
		padding: 0px 50px 0px 50px;
	}
}

/* Tablet sizes */
@media screen and (min-width: 800px) {
	main {
		padding: 0px 100px 0px 100px;
	}
}

/* Large tablets and small screens */
@media screen and (min-width: 1260px) {
	main {
		padding: 0px 300px 0px 300px;
	}
}

/* Common laptop + desktop screen sizes */
@media screen and (min-width: 1600px) {
	main {
		padding: 0px 600px 0px 600px;
	}
}

/* 14400p and higher */
@media screen and (min-width: 2400px) {
}

/* Dark mode - Everforest */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #1e2326;
		color: #d3c6aa;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #d3c6aa;
	}

	a {
		color: #a7c080;
	}

	a:hover {
		color: #d3c6aa;
	}

	footer {
		background-color: #425047;
	}

	.banner {
		background-color: #425047;
	}

	.banner #banner-title {
		color: #d3c6aa;
	}

	.banner #banner-subtitle {
		color: #7a8478;
	}

	footer p, footer h6, footer h5 {
		color: #d3c6aa;
	}
}
